.Mercury{
  background-color: blue;
} 
.Venus{
  background-color: yellow;
}
.Earth{
  background-color: green;
}
.Mars{
  background-color: pink;
}
.Jupiter{
  background-color: aquamarine;
}
.Saturn{
  background-color: brown;
}
.Uranus{
  background-color: azure;
}  
.Neptune{
  background-color: brown;
}
.pla