.main__div{
  background-color: greenyellow;
  border: 2px solid grey;
  width: 50%;
  height: 400px;
}
.main{
  background-color: grey;
  border: 2px solid white;
  margin: 50px;
  min-height: 200px;  
  position: relative;
}
.blue{
  position: absolute;
  height: 150px;
  width: 50%;
  background-color: blue;
  margin: 30px;
  z-index: 1;
}
.orange{

  position: absolute;
  height: 150px;
  width: 50%;
  background-color: orange;
  margin: 40px;
  z-index: 2;
  
}