
body{
  background-color: grey;
}
.conteiner{
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  height: 100vh;
}
.small__grid{
  display: grid;
  grid-template-columns: repeat(4, 52.5px);
  grid-template-rows: repeat(4, 52.5px);
  gap: 10px;
}

.color1{
  background-color: #A9A9A9;
}
.color2{
  background-color: #808080;}

.color3{
  background-color: #696969;
}
.color4{
  background-color: #000000
}
.big__grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
gap: 10px;
  
}