body{
  background-color: bisque;
  box-sizing: border-box;
}
.wrap{
  max-width: 750px;
  margin: 0 auto;
  background-color: beige;
  border: 4px dotted black;
}
h1{
  border-bottom:4px dotted black; 
  text-align: center;
  font-size: 60px;
  margin-top: -10px;
  font-weight: 700;
}
p{
  margin: 20px 10px;
}
ul{
  list-style-type: none;
  text-align: center;
}
li{
  margin-bottom: 2px;
}
li::first-letter{
  font-size: 25px;
  font-weight: bold;
}
p.copyright{
  text-align: center;
}