body{
  width: 900px;
  margin: 0 auto;
}
.conteiner{
  width: 900px;
  margin: 0 auto;
  height: 100vh;
}
.header__content{
  border: 2px solid black;
  height: 200px;
  width: 92%;
  background-color: green;
  margin: 20px 0px;
}
.content{
  width: 900px;
}

.content__block{
  height: 200px;
  width: 30%;
  display: inline-block;
  border: 2px solid black;
  margin-bottom: 20px;
}
.orange{
  background-color: orange;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
img{
  width: 100%;
  height: inherit;
}